<% if(typeof director_list != 'undefined' && director_list.length > 0) { %> 
	<div class = "text-white sm:grid sm:grid-cols-2
		<% let GridCols = director_list.length >= 3 ? 3 : director_list.length %>
		md:grid-cols-<%= GridCols %>">
		<% director_list.forEach(person =>{ %> 
			<div
				id = "Director_Panel"
				class = "rounded-lg w-11/12 mx-auto my-[25px] p-10 text-white sm:max-w-[350px]"
			>
			<% if(typeof person.portrait != 'undefined') { %> 
			<div 
				id="ImageDiv"
				class = "h-[300px] w-[200px] mx-auto rounded-lg overflow-hidden my-5">
				<a href="../<%= person.url %>">
					<img 
						src = "<%= person.portrait  %>"
						alt = "<%= person.name %> portrait"
						class="max-h-full max-w-full" />
				</a>
			</div>
			<%} %>
			<h2 class = "font-bold text-center"><%= person.name%></h2>
			</div>
		<%})%>
	</div>
<%}%>