<% if(typeof actor_list != 'undefined' && actor_list.length > 0) { %> 
	<div class = "text-white sm:grid sm:grid-cols-2
		<% let GridCols = actor_list.length >= 3 ? 3 : actor_list.length %>
		md:grid-cols-<%= GridCols %>">
		<% actor_list.forEach(person =>{ %> 
			<div
				id = "Actor_Panel"
				class = "rounded-lg w-11/12 mx-auto my-[25px] p-10 text-white sm:max-w-[350px]"
			>
			<div 
				id="ImageDiv"
				class = "h-auto w-auto mx-auto overflow-hidden my-5
					bg-cover">
				<a href="../<%= person.url %>">
					<img 
						src = "<%= person.portrait != 'undefined' && person.portrait != null ? person.portrait : avatarPic %>"
						alt = "<%= person.name %> portrait"
						class="max-h-full max-w-full object-cover rounded-lg mx-auto" />
				</a>
			</div>
			<h2 class = "font-bold text-center"><%= person.name%></h2>
			</div>
		<%})%>
	</div>
<%}%>