<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Film Dash</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel ="stylesheet" href='../../stylesheets/style.css'> 
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body class = "bg-black h-auto">
  <div 
  id="container"
  class = "w-full flex flex-col relative grow min-h-[120vh]">
      <div 
        id = "contentWrapper"
        class = "pb-[5.5rem] mb-[50px]">
          <div class = "w-full mb-[100px]">
            <%- include("partials/header") %>
            <%- include("partials/MobileMenu") %>
          </div>
          <h1 class = "text-white text-center text-4xl"><%= title %></h1>
          <% if(typeof actor.portrait != undefined ) { %> 
          <div 
            id="ImageDiv"
            class = "h-[300px] w-[200px] mx-auto rounded-lg overflow-hidden my-5"
          >
            <img 
                src = "<%= actor.portrait != 'undefined' && actor.portrait != null ? actor.portrait : avatarPic %>"
                alt = "<%= actor.name %> portrait"/>"
                class="max-h-full max-w-full" />
          </div>
          <%}%>
          <div class = "mx-auto w-11/12 sm:w-6/12 md:w-5/12 lg:w-4/12">
            <%- include('partials/CRUDButtons') %> 
          </div>
          <div
            id="ActorDetailPanel"
            class = "w-11/12 mx-auto text-white sm:w-6/12"
          >
              <% if(typeof actor.birthdate != 'undefined') {%> <p class = "mb-3"><b>Birth Date: </b> <%= actor.birthdate%> </p><% } %>
              <% if(typeof actor.birthplace != 'undefined') {%>  <p class = "mb-3"><b>Birth Place: </b> <%= actor.birthplace%> </p><% } %>
              <% if(typeof actor.height != 'undefined') {%>  <p class = "mb-3"><b>Birth Height: </b> <%= actor.height%> </p><% } %>
              <% if(typeof actor.occupation != "undefined" && actor.occupation.length > 0) {%> 
                  <div class = "mb-3">
                    <p><b>Occupation: </b></p>
                    <ul>
                        <% actor.occupation.forEach(val => {%> 
                            <li><%= val %></li>
                        <%})%>
                    </ul>
                  </div>
              <%}%>
              <% if(typeof actor.biography != 'undefined') {%> <p class = "mb-3"><b>Biography: </b> <%= actor.biography %> </p><% } %>

              <% if(typeof actor.awards != 'undefined' && actor.awards.length > 0) {%> 
                <div class = "mb-3">
                    <p><b>Awards: </b></p>
                    <ul>
                        <% actor.awards.forEach(val => {%> 
                            <li><%= val %></li>
                        <%})%>
                    </ul>
                </div>
              <%}%>
              <% if(typeof actor.imdb_page != 'undefined') {%>
                <a href ="<%= actor.imdb_page %>">
                    <img 
                        src = "<%= imdbLogo %>" 
                        alt = "imdb" 
                        class = "w-[100px] text-center mx-auto cursor-pointer"/>
                </a>
              <% } %>
              <%- include('partials/displayMovies') %>
              <!-- end of actor details div -->
          </div>
          
      </div>
      <%- include('partials/footer') %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
</html>