<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Film Dash</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel ="stylesheet" href='../../stylesheets/style.css'> 
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body class = "bg-black h-auto">
  <div 
  id="container"
  class = "w-full flex flex-col relative grow min-h-[120vh]">
      <div 
        id = "contentWrapper"
        class = "pb-[5.5rem]">
          <div class = "w-full mb-[100px]">
            <%- include("partials/header") %>
            <%- include("partials/MobileMenu") %>
          </div>
          <h1 class = "text-white text-center text-4xl"><%= title %></h1>
          <div class = "text-center mt-10">
            <div class = "rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
            border-white border-2 text-center w-[150px] select-none text-white mx-auto
            hover:bg-gray-800">
                <a href ="/catalog/actor/create">Add a actor</a>
            </div>
          </div>
          <%- include('partials/displayActors')%>
      </div>
      <%- include('partials/footer') %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
</html>