<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Film Dash</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel ="stylesheet" href='stylesheets/style.css'> 
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body class = "bg-black h-auto flex flex-col">
  <div class = "w-full">
  <%- include("partials/header") %>
  <%- include("partials/MobileMenu") %>
  <div class = "relative">
		<video  
			loop = 'true' 
			muted = 'muted'
			autoplay
			class = 'w-full h-auto z-50'
		>
			<source src='<%= video %>' type = 'video/mp4' />
		</video>
		<div class = "absolute top-[45%] sm:top-[35%] left-[50%] text-center text-white translate-x-[-50%]">
			<h2 class = "text-lg text-center text-white sm:text-5xl">Access to thousands of films at the tip of your fingers</h2>
		</div>
   </div>
	<h2 class ="font-bold text-center mx-auto mt-[50px]  text-white text-lg"><%= title %></h2>
	<% if(movie_list) { %>
		<div class = "sm:grid sm:grid-cols-2 md:grid-cols-3">
			<% movie_list.forEach(movie =>{ %>
				<div 
				id="MoviePanel"
				class ="rounded-lg w-11/12 mx-auto my-[25px] p-10 text-white
					before:bg-[url('<%= movie.poster %>')] relative before:absolute 
					before:block before:left-0 before:right-0 before:top-0 before:w-full before:h-full
					before:opacity-60 before:z-[-2] before:bg-no-repeat before:bg-cover before:backdrop-blur-3xl before:rounded-md
					before:brightness-50 before:bg-center sm:max-w-[350px]">
				    <a href ="<%= movie.url %>">
						<img 
							src = '<%= movie.poster%>' 
							alt = '<%movie.title%> + poster' 
							class = "rounded-md w-auto h-auto mx-auto cursor-pointer hover:perspective hover:rotate-6 
							hover:scale-[1.25] 
							transition duration-[rotate 500ms, scale 1s]" 
						/>
					</a>
					<p class = "font-bold text-2xl"><%= movie.title %></p>
					<p><%= movie.year %></p>
				<% if (!Array.isArray(movie.director)) {%>
					<p>Directed by <%= director_list.find(val => val._id.toString() == movie.director.toString() ).name %></p>
				<%} else { %>
					<p>Directed by 
						<% movie.director.forEach((codirector, index) =>{ %> 
							<%= director_list.find(val => val._id.toString() == codirector.toString() ).name %>
							<% if(index < movie.director.length - 2) { %> 
								<span>, </span>
						    <% } else if (index == movie.director.length - 2) { %> 
								<span> and </span>
							<%} %> 
						<%}) %> 
					</p>
				<%}%>
					<% if(movie.actors) {%>
						<p>Starring <% movie.actors.forEach((actor, index) => { %>
								<%= actor.name %>
								<% if(index < movie.actors.length - 2){ %>
									<span>, </span>
								<% } else if (index == movie.actors.length - 2){ %>
									<span> and </span>
								<% } %>
							<%})%>
						</p>
					<% } else {}%>
					<% if(movie.genres) { %> 
					    <p>Genres:</p>
						<div 
						id = "genres"
							class = "flex my-1 mx-auto">
							<% movie.genres.forEach((val, ind) => { %> 
								<span class = ""><%= val.name %></span>
								<% if(ind < movie.genres.length - 1 ) { %> 
									<span class = "mx-1"> | </span>
								<%}%>
							<%})%>
						</div>
					<%} else {}%>
				</div>
			<%})%>
		</div>
	<%}else {}%>
  </div>
  <%- include('partials/footer') %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>
  </script>
</body>
</html>