<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Film Dash</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body>
  <div class = "w-full">
  <%- include("partials/header") %>
	<h2 class ="font-bold text-center mx-auto mt-[50px]"><%= title %></h2>
	<% if(movie_list) { %>
		<div class = "">
			<% movie_list.forEach(movie =>{ %>
				<div 
				id="MoviePanel"
				class ="rounded-lg boxshadow w-11/12">
					<p class = "bold"><%= movie.title %></p>
					<p><%= movie.year %></p>
					<% if (!Array.isArray(movie.director)) {%>
						<p>Directed by <%= movie.director.name %></p>
					<%} else { movie.director.forEach(codirector =>{ %> 
						<p><%= codirector.name  %></p>
					<%}) %> 
					<%}%>
					<% if(movie.actors) {%>
						<p>Starring <% movie.actors.forEach((actor, index) => { %>
								<%= actor %>
								<% if(index != movie.actors.length - 1){ %>
								<span>, </span>
								<% } else{ %>

								<% } %>
							<%})%>
						</p>
					<% } else {}%>
				</div>
			<%})%>
		</div>
	<%}else {}%>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>
  </script>
</body>
</html>