<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Film Dash</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel ="stylesheet" href='stylesheets/style.css'> 
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body class = "bg-gray-900">
  <div class = "w-full">
  <%- include("partials/header") %>
  <%- include("partials/MobileMenu") %>
	<h2 class ="font-bold text-center mx-auto mt-[50px]  text-white"><%= title %></h2>
	<% if(movie_list) { %>
		<div class = "">
			<% movie_list.forEach(movie =>{ %>
				<div 
				id="MoviePanel"
				class ="rounded-lg w-11/12 mx-auto my-[25px] p-10 text-white
					before:bg-[url('<%= movie.poster %>')] relative before:absolute 
					before:block before:left-0 before:right-0 before:top-0 before:w-full before:h-full
					before:opacity-60 before:z-[-2] before:bg-no-repeat before:bg-cover before:backdrop-blur-3xl before:rounded-md
					before:brightness-50 before:bg-center">
				    <img 
						src = '<%= movie.poster%>' 
						alt = '<%movie.title%> + poster' 
						class = "rounded-md w-auto h-auto mx-auto cursor-pointer" 
					/>
					<p class = "font-bold text-lg"><%= movie.title %></p>
					<p><%= movie.year %></p>
				<% if (!Array.isArray(movie.director)) {%>
					<p>Directed by <%= director_list.find(val => val._id.toString() == movie.director.toString() ).name %></p>
				<%} else { %>
					<p>Directed by 
						<% movie.director.forEach((codirector, index) =>{ %> 
							<%= director_list.find(val => val._id.toString() == codirector.toString() ).name %>
							<% if(index < movie.director.length - 2) { %> 
								<span>, </span>
						    <% } else if (index == movie.director.length - 2) { %> 
								<span> and </span>
							<%} %> 
						<%}) %> 
					</p>
				<%}%>
					<% if(movie.actors) {%>
						<p>Starring <% movie.actors.forEach((actor, index) => { %>
								<%= actor.name %>
								<% if(index < movie.actors.length - 2){ %>
									<span>, </span>
								<% } else if (index == movie.actors.length - 2){ %>
									<span> and </span>
								<% } %>
							<%})%>
						</p>
					<% } else {}%>
					<% if(movie.genres) { %> 
					    <p>Genres:</p>
						<div 
						id = "genres"
							class = "flex my-1 mx-auto">
							<% movie.genres.forEach((val, ind) => { %> 
								<span class = ""><%= val.name %></span>
								<% if(ind < movie.genres.length - 1 ) { %> 
									<span class = "mx-1"> | </span>
								<%}%>
							<%})%>
						</div>
					<%} else {}%>
				</div>
			<%})%>
		</div>
	<%}else {}%>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>
  </script>
</body>
</html>