<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Film Dash</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel ="stylesheet" href='../../stylesheets/style.css'> 
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body class = "bg-black h-auto flex flex-col">
  <div class = "w-full">
    <%- include("partials/header") %>
    <%- include("partials/MobileMenu") %>
  </div>
  <div class = "min-h-[100vh] mt-[50px]">
    <h1 class = "text-white text-center text-4xl"><%= title %></h1>
        <div class = "w-11/12 mx-auto sm:w-5/12 ">
            <form 
                action="" 
                method="POST"
                class="[&>div>label]:text-white [&>div]:grid mt-[50px] [&>div>input]:rounded-lg 
                [&>div]:w-full [&>div]:my-[10px] [&>div>input]:pl-3"
                >
                <div>
                    <label for = "title">Title</label>
                    <input 
                        name = "title" 
                        id = "titleInput"
                        type = "text"
                        placeholder = "Title of movie" 
                        required = "true"
                        class = ""
                        value = "<%=  typeof movie != 'undefined' ? movie.title : null %>"
                        />
                </div>
                <div>
                    <label for = "year">Year</label>
                    <input 
                        type = "number" 
                        placeholder = "Type the year of release date here"
                        name = 'year'
                        value ="<%= typeof movie != 'undefined' ? movie.year : null %>"
                        />
                </div>
                <div>
                    <label for="director">Director</label>
                    <select
                        type="select"
                        placeholder="select director"
                        name= 'director'
                        required= 'true' 
                        class = "rounded-lg"
                        multiple
                    >   
                        <% director_list.forEach(person => { %> 
                            <option 
                            value = <%= person._id %>
                            <% if(typeof movie != 'undefined') { %> 
                                <% if(Array.isArray(movie.director)) { %> 
                                    <% movie.director.some(val => val._id.toString() == person._id.toString()) ? 'selected' : null %>
                                <%} else { %> 
                                    <% movie.director.toString() == person._id.toString ? "selected" : null  %>
                                <%}%>
                            <%}%>
                            ><%= person.name %></option>
                        <%}) %>
                    </select>
                </div>
                <div>
                    <label for="actor">Actor</label>
                    <select
                        type="select"
                        placeholder="select actors"
                        name= 'actor'
                        required= 'true' 
                        class = "rounded-lg"
                        multiple>
                        <% actor_list.forEach(person => { %> 
                            <option 
                                value = <%= person._id %>
                                <% if(typeof movie != 'undefined') { %> 
                                    <% movie.actors.some(val => val._id.toString() == person._id.toString()) ? 'selected' : null %>
                                <%}%>
                                ><%= person.name %></option>
                        <%}) %>
                    </select>
                </div>
                <div>
                    <label for="genre">Genres</label>
                    <select
                        type="select"
                        placeholder="select genre(s)"
                        name= 'genre'
                        required= 'true' 
                        class = "rounded-lg"
                        multiple>
                        <% genre_list.forEach(item => { %> 
                            <option 
                                value = <%= item._id %>
                                <% if(typeof movie != 'undefined') { %> 
                                        <% movie.genres.some(val => val._id.toString() == item._id.toString()) ? 'selected' : null %>
                                <%}%>
                                ><%= item.name %></option>
                        <%}) %>
                    </select>
                </div>
                <div>
                    <label for = "tagline">Tagline</label>
                    <input 
                        id ="taglineInput"
                        type = "text"
                        placeholder = "Write the tagline here"
                        name='tagline'
                        value = "<%= typeof movie != 'undefined' ? movie.tagline : null %>"
                        />
                </div>
                <div>
                    <label for = "imdb_rating">IMDB Rating</label>
                    <input 
                        type = "number" 
                        name='imdb_rating' 
                        placeholder = "Write the IMDB rating here"
                        value = "<%= typeof movie != 'undefined' ? movie.imdb_rating : null %>"
                        step = "0.1"
                        />
                </div>
                <% if(MPAA_ratings) { %> 
                    <div>
                        <label for = "parental_guide">Parental Guide</label>
                        <select
                            type="select"
                            class = "rounded-lg"
                            placeholder = "Select MPAA rating"
                            name="parental_guide"
                            value = "<%= typeof movie != 'undefined' ? movie.parental_guide : null %>"
                            >
                            <% MPAA_ratings.forEach(rating => { %> 
                                <option 
                                value = "<%= rating %>" 
                                <%= typeof movie != 'undefined' ? movie.parental_guide == rating ? "selected" : null : null %>
                                 ><%= rating %></option>
                            <%})%>
                        </select>
                    </div>
                <%}%>
                <div>
                    <label for = "production_company">Production Company</label>
                    <input 
                        id = "PcompanyInput"
                        type = "text"
                        placeholder = "Write the name of the production company here"
                        name='production_company'
                        value = "<%= typeof movie != 'undefined' ? movie.production_company : null %>"
                        />
                </div>
                <div>
                    <label for = "release_date">Release Date</label>
                    <input 
                        type = "date"
                        name='release_date'
                        value = "<%= typeof movie != 'undefined' ? movie.release_date : null %>"
                        />
                </div>
                <div>
                    <label for = "budget">Budget</label>
                    <input 
                        id="budgetInput"
                        type = "text" 
                        name='budget'
                        placeholder = "Write the budget here"
                        value = "<%= typeof movie != 'undefined' ? movie.budget : null %>"
                        />
                </div>
                <div>
                    <label for = "runtime">Runtime (in minutes)</label>
                    <input 
                        type = "number" 
                        name='runtime' 
                        step = "0.1"
                        value = "<%= typeof movie != 'undefined' ? movie.runtime : null %>"
                        />
                </div>
                <div>
                    <label for = "poster">Poster</label>
                    <input 
                        id= "posterInput"
                        type = "text" 
                        name='poster'
                        placeholder = "Copy and paste the movie poster url here."
                        value = "<%= typeof movie != 'undefined' ? movie.poster : null %>"
                        />
                </div>
                <div class = 'w-full my-[10px]'>
                    <button 
                    type = "submit"
                    class = "rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
                    border-white border-2 text-center w-[150px] select-none text-white mx-auto
                    hover:bg-gray-800">Submit</button>
                </div>
            </form>
        </div>
  </div>
  <div>
    <% if(errors) { %> 
    
    <%}%>
  </div>
  <%- include('partials/footer') %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>
  </script>
</body>
</html>
<script>
    const form = document.querySelector("form"); 
    const titleInput = document.getElementById('titleInput'); 
    const taglineInput = document.getElementById('taglineInput'); 
    const PcompanyInput = document.getElementById('PcompanyInput'); 
    const budgetInput = document.getElementById('budgetInput');
    const posterInput = document.getElementById('posterInput'); 
    const htmlEntities = {
        "&": "&amp;",
        "<": "&lt;",
        ">": "&gt;",
        '"': "&quot;",
        "'": "&#x27;",
      };
    form.addEventListener("submit", (event)=>{
        event.preventDefault(); 
        let encodedTitle = encodeURIComponent(titleInput.value)
        titleInput.value = encodedTitle;
        
        let encodedTagline = encodeURIComponent(taglineInput.value.replace(/[&<>"']/g, (match) => htmlEntities[match]))

        taglineInput.value = encodedTagline; 

        let encodedPcompanyInput = encodeURIComponent(PcompanyInput.value)
        PcompanyInput.value = encodedPcompanyInput;

        let encodedbudget = encodeURIComponent(budgetInput.value)
        budgetInput.value = encodedbudget;

        let encodedposter = encodeURIComponent(posterInput.value)
        posterInput.value = encodedposter;
        
        form.submit(); 
    });
</script>