<script>
/*
notes:
What is required to be passed through EJS
movie_id 
	This is a string containing the id's of all movies in the database. 
	Each id is separated by the character "|"
movie_titles
	This is a string containing the titles of all movies in the database. 
	Each title is separated by the character "|"
movie_list
	This is an array containing a list of all movies in the database. 

*/
    var MoviesArray = [];
	var IDArray = []
        <% if( typeof actor != 'undefined') { %>
			<%
				
				const Join = (arr) => {
					var stringData = "" 
					arr.forEach((val, ind) => {
						if(ind < arr.length - 1)
							stringData += val + "|";
						else
							stringData += val; 
					})
					return stringData; 

				}

				var ID_Array = [];
				var titleArray = [];
				actor.movies.forEach(item =>{
					titleArray.push(item.title)
					ID_Array.push(item._id)
				}) 

			%>
			var tempMoviesArray = '<%= Join(titleArray) %>'
            MoviesArray = tempMoviesArray.split('|');
			var tempIDArray = '<%= Join(ID_Array) %>'
			IDArray = tempIDArray.split('|')
        <%}%>
</script>
<div>
	<label for="movies">Select and Add Movies(s)</label>
	<input 
		id = "MoviesHiddenInput"
		type = 'hidden' 
		name = "movies" 
	/>
	<% if(typeof movie_list != 'undefined' && movie_list != null && movie_list.length > 0 ) {%>
    <div class = "block whitespace-nowrap">
		<select
			type='select'
			placeholder='Use ctrl + click or command + click to select multiple movies'
			class = 'rounded-lg'
			id="MoviesInput"
			multiple
			value = <% typeof actor != 'undefined' && typeof actor.movies != 'undefined' && actor.movies != null && actor.movies.length > 0 ? actor.movies.title : null %> 
		>
			<% movie_list.forEach(item => { %> 
				<option
					value = "<%= item._id %>"
					<% if(typeof actor != 'undefined' && typeof actor.movies != 'undefined' && actor.movies != null && actor.movies.length > 0 ? actor.movies : null ) { %> 
                        <% if(actor.movies.some(val => val.toString() == item._id.toString())) { %> selected <% } %>
                    <%}%>
				><%= item.title %></option>
			<%})%>
		</select>
        <div
            id="AddMoviesButton"
            class = "inline-block text-sm rounded-full p-1 active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
            border-white border-2 text-center select-none text-white mx-1
            hover:bg-gray-800 min-w-[50px] w-auto"
            onClick = "AddRelatedMovies"
        >Add</div>
    </div>
	<% } %>
</div>
<div 
    id = "MoviesAnswers"
    class = 'w-full my-5 mx-auto flex h-[20px] bg-black max-w-[200px] overflow-y-auto'
    >
</div>
<div class = "text-white !flex my-10 justify-around">
	<div class = "inline-block"><b>Can't find a movie in the list? </b></div>
	<div 
		id = "AddNewMovieToDataBase"
		type="button"
		onClick="location.href='/catalog/movie/create'"
		class = "rounded-full text-white p-1 active:translate-x-[5px] active:translate-y-[5px] cusor-pointer
		text-center w-[150px] bg-black cursor-pointer select-none hover:bg-slate-400
		border-white border-[1px] inline-block"
		>	
		Add new movie
	</div>
</div>
<script>

	var MoviesInput = document.getElementById('MoviesInput');
	var AddMoviesButton = document.getElementById('AddMoviesButton');
	var MoviesAnswers = document.getElementById('MoviesAnswers');
	var MoviesHiddenInput = document.getElementById('MoviesHiddenInput');

	const movie_titles_string = '<%= movie_titles  %>'
	const movie_titles = movie_titles_string.split("|");
	
	const movie_id_string = '<%= movie_id %>'
	const movie_id = movie_id_string.split("|");

	var movie_list = []; 
	for(var i = 0; i < movie_titles.length; i++){
		movie_list.push({
			title: movie_titles[i],
			_id: movie_id[i],
		})
	}
	
	if(MoviesArray.length > 0 && MoviesArray.length == IDArray.length){
		MoviesAnswers = document.getElementById('MoviesAnswers');
		MoviesHiddenInput = document.getElementById('MoviesHiddenInput');

		//Unfortunately, MoviesArray will automatically be converted as a string and not an array
		MoviesHiddenInput.value = IDArray;
		MoviesArray.forEach((val, ind) =>{		
			const UserInput = val;
			const NewInput = document.createElement('div')
			const NewInputDiv = document.createElement('div');
			NewInputDiv.innerHTML = UserInput;
			NewInput.classList.add('Tag');
			NewInput.appendChild(NewInputDiv)
			MoviesAnswers.appendChild(NewInput);

			const DeleteButton = document.createElement('img')
			DeleteButton.alt = "Delete";
			DeleteButton.classList.add("MiniDeleteButton")
			DeleteButton.src = "/icon/cancel.png"
			NewInput.appendChild(DeleteButton)
			MoviesAnswers.style.display = "table"
	
			//This is allows users to delete item by clicking on it
			NewInput.addEventListener('click', ()=>{
				var tempIDArr = IDArray.filter((val, this_ind) => this_ind != ind)
				IDArray = tempIDArr;
				console.log("After delete default value from IDArray: ", IDArray)

				var tempMoviesArr = MoviesArray.filter((val, this_ind) =>  this_ind !== ind)
				MoviesArray = tempMoviesArr;
				MoviesAnswers.removeChild(NewInput)

				MoviesHiddenInput = document.getElementById('MoviesHiddenInput');
				MoviesHiddenInput.value = IDArray
			})
		})
	}

	//This function allows the user to select movies from the select tag and add it to the MoviesArray and IDArray
	const AddRelatedMovies = () => {
		MoviesInput = document.getElementById('MoviesInput');
		MoviesAnswers = document.getElementById('MoviesAnswers');

		//There's a problem with MoviesInput.selectedOptions. It's an object, not an array 
		
		for(var i in MoviesInput.options){
			if(MoviesInput.options[i].selected){
			    const selectedOpt =MoviesInput.options[i].value 
				//Run the following block of code as long as the value of selected option is not already chosen
				if(!IDArray.some(val => val == selectedOpt)){
					IDArray.push(selectedOpt); 
					const selected_index = movie_id.findIndex(ID => ID == selectedOpt);
					const MovieTitle = movie_titles[selected_index]; 

					MoviesArray.push(MovieTitle); 
					
					//The purpose of newIndex is to remember the index of the value to be deleted 
					const newIndex = MoviesArray.length - 1; 

					const NewInput = document.createElement('div')
					const NewInputDiv = document.createElement('div');
					NewInputDiv.innerHTML = MovieTitle;
					NewInput.classList.add('Tag');
					NewInput.appendChild(NewInputDiv)
					MoviesAnswers.appendChild(NewInput);

					const DeleteButton = document.createElement('img')
					DeleteButton.alt = "Delete";
					DeleteButton.classList.add("MiniDeleteButton")
					DeleteButton.src = "/icon/cancel.png"
					NewInput.appendChild(DeleteButton)
					MoviesAnswers.style.display = "table"

					NewInput.addEventListener('click', ()=>{
						
						var tempIDArr = IDArray.filter((item, ind) => ind != newIndex)
						IDArray = tempIDArr;
						var tempMoviesArr = MoviesArray.filter((item, ind) => ind != newIndex)
						MoviesArray = tempMoviesArr;
						MoviesAnswers.removeChild(NewInput)
						MoviesHiddenInput = document.getElementById('MoviesHiddenInput');
						MoviesHiddenInput.value = IDArray;
						console.log("MoviesArray: ", MoviesArray);
						console.log("IDArray: ", IDArray);
					})
					MoviesInput[i].selected = 'false' 

					MoviesHiddenInput = document.getElementById('MoviesHiddenInput');
					MoviesHiddenInput.value = IDArray;
					console.log("MoviesHiddenInput.value: ", MoviesHiddenInput)
				}
			}
		}
	}

	AddMoviesButton.addEventListener('click', AddRelatedMovies)
</script>